.mar-top-0-5 {
    margin-top: .5rem;
}

.mar-top-1 {
      margin-top: 0rem;
    margin-bottom: 3rem;
}

.mar-top-1-5 {
    margin-top: 1.5rem;
}

.mar-top-2 {
    margin-top: 2rem;
}

.mar-top-2-5 {
    margin-top: 2.5rem;
}

.mar-top-3 {
    margin-top: 3rem;
}