.v--modal-background-click {
    position: relative;
    height: 100%;
    width: 100%;
}

.v--modal {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    height: 1200px*0.5625 !important;
    width: 1200px !important;
    background: transparent;
}

iframe {
    height: 100%;
    width: 100%;
}
.v--modal{
    text-align: justify;
}
.v--modal-overlay {
    background: rgba(black, 0.8) !important;
}

@media (min-width: 1280px) {
    .v--modal {
           height: auto !important;
    width: 60% !important;
     background-color: #fff;
    padding: 2rem!important;
    }

}

@media (min-width: 1024px) {
   .v--modal {
           height: auto !important;
    width: 60% !important;
     background-color: #fff;
    padding: 2rem!important;
    }
}

@media (min-width: 767px) {
   .v--modal {
           height: auto !important;
    width: 60% !important;
     background-color: #fff;
    padding: 2rem!important;
    }
    
}

@media (max-width: 480px) {
   .v--modal {
           height: auto !important;
    width: 60% !important;
     background-color: #fff;
    padding: 2rem!important;
    }
}