<template>
	<div class="card flex  pad-3 mar-0-3">
		<!-- <h3>Plan Basico</h3> -->
		<div>
			<h2>{{data.title}} </h2>
			<div class="line mar-top-1"></div>
		</div>
		<div class="mar-top-2">
			<p v-for="item in data.description" :key="item ">{{item}} </p>
		</div>
		<div class="mar-top-3">
			<img class="" :src="data.imageUrl" alt="">
			<!-- <div class="cont-btn mar-top-2">
				<button class="btn "><span>Ver más </span><font-awesome-icon class="icon" icon="arrow-right" /></button>
			</div> -->
		</div>
	</div>
</template>

<script>
	export default {
		name: "Card",
		mounted() {
			this.imageUrl1 = this.$props.data.imageUrl
		},
		data() {
			return {}
		},
		methods: {},
		props: ["data"]
	};
</script>

<style lang="scss" >
	@import "./../../assets/styles/1.settings/_colors";
	@import "./../../assets/styles/1.settings/_breakpoints.scss";
	@import "./../../assets/styles/2.tools/_main";
	.card {
		width: 100%;
		// background-color: #F1F1F3;
		background: white;
		border-radius: 5px;
		overflow: hidden;
		transition: 0.5s;
		box-shadow: 0 0px 20px rgba($grey-1, 0.1);
		color: $black;
		align-items: flex-start;
		justify-content: space-between;
		h2 {
			font-weight: 600;
			font-size: 1.6rem;
			text-transform: uppercase;
		}
		p {
			font-weight: 400;
			text-transform: lowercase;
			text-transform: capitalize;
			color: $violet-1;
		}
		img {
			width: 100%;
			border-radius: 5px;
		}
		.cont-btn {
			width: 100%;
			display: flex;
			justify-content: center;
		}
		&:hover {
			box-shadow: 0px 0px 25px rgba($grey-1, 0.3);
		}
	}
	
	.line {
		height: 5px;
		background-color: $violet-1;
		border-radius: 5px;
		width: 30%;
		float: left;
	}
	
	@media (min-width: $xs) {
		.card {
			width: 50%;
			// justify-content: space-around !important;
		}
	}
	
	@media (min-width: $sm) {
		.card {
			width: 50%;
			// justify-content: space-around !important;
		}
	}
	
	@media (min-width: $md) {
		.card {
			width: 33%;
		}
	}
	
	@media (min-width: $lg) {
		.card {
			width: 30%;
		}
	}
	
	@media (min-width: $xl) {
		.card {
			width: 25%;
		}
	}
</style>
