<template>
    <div class="footer ">
        <div class="wrapper pad-top-5">
            <div class="footer__position flex flex-md ">
                <div class="mar-1">
                    <h4>Comentarios & Sugerencias</h4>
                    <p class="mar-top-1">eventos@eldorado-investments.com </p>
                     <a href="https://goo.gl/forms/WHMuLB4SPLqwiFvr2" style="color:#000; background: #fff;"><div class="flex flex-xs wrap " style="text-align: center;"><div class="flex"></div> <div class="igv_precio flex" style="    text-align: center;
    margin: 15px 0 0 0px;
    border: 2px solid #c0aa7a;
    padding: 10px; background-color: #fff;
    width: 50%;
">Encuesta </div> <div class=" flex"></div></div></a>
                </div>
                <div class="mar-1">
                    <h4>Contáctanos</h4>
                    <p class="mar-top-1">Cel. 977188596  </p>
                    <p class="">Cel. 982937983</p>
                     <p class="">Tel. 6114560</p>
                 <br>


                </div>
                <div class="mar-1">
                    <h4>Siguenos</h4>
                    <p class="mar-top-1">
                        <a href="https://www.facebook.com/ElDoradoInvestments/" target="_blank">
                            <font-awesome-icon class="icon " :icon="['fab', 'facebook-square']" /> 
                        </a>
                  
                        <a href="https://twitter.com/eldoradoinvest?lang=es" target="_blank">
                            <font-awesome-icon class="icon " :icon="['fab', 'twitter']" /> 
                        </a>
                    </p>
                </div>
                <div class="mar-1">
                    <img src="./../../assets/images/logos/economy-clear.png" alt="">
                </div>
            </div>
            <div class="footer__position footer__position--bottom flex flex-md">
                <p>
                    Hecho con
                </p>
                <font-awesome-icon class="icon icon--heart " :icon="['fas', 'lightbulb']" />
                <p>
                    en
                    <a href="tel:978819069" target="_blank">
                        <span> Zheqa</span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Footer"
    };
</script>

<style lang="scss">
    @import "./../../assets/styles/1.settings/_colors";
    @import "./../../assets/styles/1.settings/_breakpoints.scss";
    @import "./../../assets/styles/2.tools/_main";
    .footer {
        background-color: $black-1;
        text-align: center;
        h4 {
            color: #efeff0;
            text-transform: uppercase;
        }
        p,
        a {
            color: #909090;
        }
        img {
            width: 160px;
        }
        .icon {
            font-size: 2rem;
            margin: 0 0.5rem;
        }
        .icon--heart {
            color: #ff5c62;
            animation: heart 2s linear infinite;
        }
        &__position {
            padding-bottom: 2rem;
        }
        &__position--bottom {
            text-align: center;
            padding-top: 2rem;
            border-top: 1px solid #5c5c5c;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        .icon {
            font-size: 2rem;
            margin: 0 0.5rem;
        }
        .icon--heart {
            // color: yellow;
            animation: heart 2s linear infinite;
        }
    }

    @media screen and (min-width: $md) {
        .footer {
            text-align: left;
            &__position {
                justify-content: space-around;
                align-items: flex-start;
            }
            &__position--bottom {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
        }
    }
</style>
