<template>
  <div class="cont-header ">
    <div class="cmp-header__header wrapper ">
      <div class="header__cont-item header__cont-item--logo">
        <img class="logo__main" v-scroll-to="'#main'" src="./../../assets/images/logos/economy-clear.png" alt="">
      </div>
      <div class="header__cont-item header__cont-item--menu-normal" v-bind:class="{'cont-layout__cont-menu--active':menu}">
        <ul class=" flex flex-md">
          <li class="btn--menu" v-scroll-to="'#objetive'" >
            Objetivo
          </li>
          <li class="btn--menu" v-scroll-to="'#directed'" >
            Dirigido
          </li>
          <li class="btn--menu" v-scroll-to="'#speakers'" >
            Expositores
          </li>

          <li class="btn--menu" v-scroll-to="'#organizers'" >
            Organizadores
          </li>
          <!-- <li class="btn--menu" v-scroll-to="'#sponsor'" >
            Sponsorship
          </li> -->
<li class="btn--menu" v-scroll-to="'#media'" >
            Difusión
          </li>

            <li class="btn--menu" v-scroll-to="'#gallery'" >
            Galería
          </li>

          <li class="btn--menu" v-scroll-to="'#precio'">
            Comprar entradas
          </li>
          <li class="">
<a class="link btn btn--menu-link" href="https://goo.gl/forms/qDVODioHza16UOPz1" target="_blank">
            Inscribirse
</a>
          </li>

          <li class="">
<a class="link btn btn--menu-link" href="http://peruconferences.com/peru-golden-awards2/agenda.pdf
" target="_blank">
            Agenda
</a>
          </li>
        </ul>
      </div>
      <div class="header__cont-item header__cont-item--partner">

      </div>
      <div class="header__cont-item header__cont-item--menu-movil">
        <a @click="showMenu" v-if="!menu">
          <font-awesome-icon class="" :icon="['fas', 'bars']" />
        </a>
        <a @click="showMenu" v-if="menu">
          <font-awesome-icon class="" :icon="['fas', 'times']" />
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions, mutations } from "vuex";

export default {
  name: "Header",
  computed: mapGetters(["menu", "sectionActive"]),
  methods: mapActions(["showMenu", "changeSectionActive"])
};
</script>

<style lang="scss">
@import "./../../assets/styles/1.settings/_colors.scss";
@import "./../../assets/styles/1.settings/_breakpoints.scss";
@import "./../../assets/styles/2.tools/_main";
.cont-header {
  position: fixed;
  z-index: 999;
  padding: 0.3rem;
  width: 100%;
  top: 0;
  background-color: $black-1;
}

.cmp-header__header {
  width: 100%;
  overflow: hidden;
  color: $white;
  @include flex();
  @include justify(space-between);
  @include align-items(center);
  .header__cont-item {
    .logo__main {
      max-width: 6rem;
      cursor: pointer;
    }
    ul {
      width: 100%;
      height: 100%;
      background-color: rgba($black-1, 0.8);
    }
    li {
      transition: 1s;
      width: 100%;
      text-align: left;
      padding: 11px;
      text-transform: uppercase;
      font-weight: 600;
      cursor: pointer;
    }
    p {
      line-height: 1.1rem;
    }
    .cont-item__item {
      display: none;
    }
  }
  .header__cont-item--partner {
    display: flex;
    align-items: center;
    flex-direction: row;
    .logo__partner {
      border-radius: 3px;
      width: 5rem;
    }
  }
  .header__cont-item--contact {
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
  }
  .header__cont-item--menu-normal {
    position: fixed;
    z-index: 5000;
    top: 0;
    right: -255px;
    width: 255px;
    height: 100%;
    transition: 0.5s;
    @include background("./../../assets/images/city-black.jpg");
  }
  .header__cont-item--logo {
    padding: 0rem;
  }
  .header__cont-item--menu-movil {
    font-size: 2rem;
    padding: 1rem;
  }
}

.cont-layout__cont-menu--active {
  right: 0 !important;
  ul {
    li {
      right: 0;
    }
  }
}

@media screen and (min-width: $md) {
  .cmp-header__header {
    .header__cont-item {
      ul {
        background-color: transparent;
        width: 100%;
        flex-direction: row !important;
      }
      li {
        text-align: center;
        font-size: 0.9rem;
      }
    }
    .header__cont-item--menu-normal {
      background-image: none;
      position: static;
      width: 100%;
    }
    .header__cont-item--menu-movil {
      display: none;
    }
  }
}

@media screen and (min-width: $md) {
  .header__cont-item--contact {
    display: flex !important;
  }
}

@media screen and (min-width: $lg) {
  .cont-item__item {
    display: block !important;
  }
}
</style>
