@mixin flex() {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
}

@mixin direction($name:column) {
    flex-direction: $name;
}

@mixin align-items($name:center) {
    align-items: $name;
    -webkit-box-align: $name;
}

@mixin justify($name:center) {
    justify-content: $name;
    -webkit-box-pack: $name;
}

@mixin wrap($name:wrap) {
    flex-wrap: $name;
}

@mixin align-self($name:center) {
    align-items: $name;
}