 
@mixin translate($nameX,$nameY){
    -ms-transform: translate($nameX,$nameY);
    -webkit-transform: translate($nameX,$nameY);
    -moz-transform: translate($nameX,$nameY);
    -o-transform: translate($nameX,$nameY);
    transform: translate($nameX,$nameY);
}
 