/*white*/

$white:#ffffff;
$white-1:#F1F1F1;
/*black*/

$black:#000000;
$black-1:#15191F;
// $black-1:#1A1A1A;
$black-2:#222224;
$black-3:#404040;
$black-4:#303030;
// $black-4:#6f6f6f;
/*grey*/

$grey-1:#5B5B5D;
$grey-2:#6f6f6f;
$grey-3:#8C8C8C;
/*red*/

$red-1:#BF002A;
$red-2:#D0002F;
$red-3:#EF1A4D;
/*orange*/

$orange-1:#F13F3F;
/*violet*/

$violet-1:#505888;
$violet-2:#8075C1;
$violet-3:#8E6DA5;
$violet-4:#A7A9C4;
// $violet-5:#49608A;
$violet-5:#486089;
//gold
$gold-primary:#BFA978;
$gold-1:#816830;
$gold-2:#A08852;
$gold-3:#E4D2AC;
$gold-4:#FFF5DE;
