// //Poppins
// @font-face {
//     font-family: 'Poppins';
//     src: url("./assets/fonts/Poppins/Poppins-Black.ttf");
//     font-weight: 900;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Poppins';
//     src: url("./assets/fonts/Poppins/Poppins-Bold.ttf");
//     font-weight: 700;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Poppins';
//     src: url("./assets/fonts/Poppins/Poppins-Medium.ttf");
//     font-weight: 600;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Poppins';
//     src: url("./assets/fonts/Poppins/Poppins-Regular.ttf");
//     font-weight: 400;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Poppins';
//     src: url("./assets/fonts/Poppins/Poppins-Light.ttf");
//     font-weight: 200;
//     font-style: normal;
// }

//BarlowSemiCondensed
@font-face {
    font-family: 'BarlowSemiCondensed';
    src: url("./assets/fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Black.ttf");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'BarlowSemiCondensed';
    src: url("./assets/fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'BarlowSemiCondensed';
    src: url("./assets/fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Medium.ttf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'BarlowSemiCondensed';
    src: url("./assets/fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'BarlowSemiCondensed';
    src: url("./assets/fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Light.ttf");
    font-weight: 200;
    font-style: normal;
}





// //Confortaa
// @font-face {
//     font-family: 'Comfortaa';
//     src: url("./assets/fonts/Comfortaa/Comfortaa-Bold.ttf");
//     font-weight: 700;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Comfortaa';
//     src: url("./assets/fonts/Comfortaa/Comfortaa-Regular.ttf");
//     font-weight: 400;
//     font-style: normal;
// }



//Gotham
@font-face {
    font-family: 'Gotham';
    src: url("./assets/fonts/Gotham/Gotham-Bold.otf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url("./assets/fonts/Gotham/Gotham-Medium.otf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url("./assets/fonts/Gotham/Gotham-Light.otf");
    font-weight: 200;
    font-style: normal;
}



// //Lato
// @font-face {
//     font-family: 'Lato';
//     src: url("./assets/fonts/Lato/Lato-Bold.ttf");
//     font-weight: 700;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Lato';
//     src: url("./assets/fonts/Lato/Lato-Regular.ttf");
//     font-weight: 400;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Lato';
//     src: url("./assets/fonts/Lato/Lato-Light.ttf");
//     font-weight: 200;
//     font-style: normal;
// }

// //Montserrat
// @font-face {
//     font-family: 'Montserrat';
//     src: url("./assets/fonts/Montserrat/Montserrat-Black.ttf");
//     font-weight: 900;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Montserrat';
//     src: url("./assets/fonts/Montserrat/Montserrat-Bold.ttf");
//     font-weight: 700;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Montserrat';
//     src: url("./assets/fonts/Montserrat/Montserrat-Medium.ttf");
//     font-weight: 600;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Montserrat';
//     src: url("./assets/fonts/Montserrat/Montserrat-Regular.ttf");
//     font-weight: 400;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Montserrat';
//     src: url("./assets/fonts/Montserrat/Montserrat-Light.ttf");
//     font-weight: 200;
//     font-style: normal;
// }

// //Muli
// @font-face {
//     font-family: 'Muli';
//     src: url("./assets/fonts/Muli/Muli-Black.ttf");
//     font-weight: 900;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Muli';
//     src: url("./assets/fonts/Muli/Muli-Bold.ttf");
//     font-weight: 700;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Muli';
//     src: url("./assets/fonts/Muli/Muli-Regular.ttf");
//     font-weight: 400;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Muli';
//     src: url("./assets/fonts/Muli/Muli-Light.ttf");
//     font-weight: 200;
//     font-style: normal;
// }

// //Nunito
// @font-face {
//     font-family: 'Nunito';
//     src: url("./assets/fonts/Nunito/Nunito-Black.ttf");
//     font-weight: 900;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Nunito';
//     src: url("./assets/fonts/Nunito/Nunito-Bold.ttf");
//     font-weight: 700;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Nunito';
//     src: url("./assets/fonts/Nunito/Nunito-Regular.ttf");
//     font-weight: 400;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Nunito';
//     src: url("./assets/fonts/Nunito/Nunito-Light.ttf");
//     font-weight: 200;
//     font-style: normal;
// }

// //Roboto
// @font-face {
//     font-family: 'Roboto';
//     src: url("./assets/fonts/Roboto/Roboto-Black.ttf");
//     font-weight: 900;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Roboto';
//     src: url("./assets/fonts/Roboto/Roboto-Bold.ttf");
//     font-weight: 700;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Roboto';
//     src: url("./assets/fonts/Roboto/Roboto-Regular.ttf");
//     font-weight: 400;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Roboto';
//     src: url("./assets/fonts/Roboto/Roboto-Light.ttf");
//     font-weight: 200;
//     font-style: normal;
// }
// //Calibri


// @font-face {
//     font-family: 'Calibri';
//     src: url("./assets/fonts/Calibri/Calibri-Bold.ttf");
//     font-weight: 700;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Calibri';
//     src: url("./assets/fonts/Calibri/Calibri-Regular.ttf");
//     font-weight: 400;
//     font-style: normal;
// }

// //Circular-Std

// @font-face {
//     font-family: 'CircularStd';
//     src: url("./assets/fonts/Circular_Std/CircularStd-Black.otf");
//     font-weight: 900;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'CircularStd';
//     src: url("./assets/fonts/Circular_Std/CircularStd-Bold.otf");
//     font-weight: 700;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'CircularStd';
//     src: url("./assets/fonts/Circular_Std/CircularStd-Medium.otf");
//     font-weight: 400;
//     font-style: normal;
// }
