<template>
    <div class="cont-layout">
        <div class="cont-layout__cont-body " v-bind:class="{'cont-layout__cont-body--inactive':menu}">
            <Header/>
            <router-view></router-view>
            <!-- <Footer/> -->
        </div>
    </div>
</template>

<script>
    import Header from "./../shared/Header";
    import Footer from "./../shared/Footer";
    
    import {
        mapGetters,
        mapActions,
        mutations
    } from "vuex";
    
    export default {
        // name: "Main",
        computed: mapGetters(["menu"]),
        methods: mapActions(["showMenu"]),
        components: {
            Header,
            Footer
        }
    };
</script>

<style lang="scss" >
    @import "./../../assets/styles/1.settings/_colors";
    @import "./../../assets/styles/2.tools/_main";
    .cont-layout {
        &__cont-body {
            position: relative;
            transition: 0.5s;
            left: 0;
            transition: 0.5s;
        }
        &__cont-body--inactive {
            left: -255px;
        }
    }
</style>

