<template>
  <countdown :time="time">
    <template slot-scope="props">
                                                <div class="cont-countdown animated swing">
                                                      <div class="cmp-countdown">
                                                        <div class="cmp-countdown__time">
                                                            <p class="time__description">{{ props.days }}<br><span>dias</span></p>
                                                        </div>
                                                        <div class="cmp-countdown__time">
                                                          <p class="time__description">{{ props.hours }}<br><span>horas</span></p>
                                                        </div>
                                                        <div class="cmp-countdown__time">
                                                          <p class="time__description">{{ props.minutes }}<br><span>minutos</span></p>
                                                        </div>
                                                        <div class="cmp-countdown__time">
                                                          <p class="time__description">{{ props.seconds }}<br><span>segundos</span></p>
                                                         </div>                                 
                                                    </div> 
                                                  
                                                </div>
                                                
</template>

</countdown>
</template>

<script>
  import VueCountdown from "@xkeshi/vue-countdown";
  
  export default {
    name: "Countdown",
    components: {
      countdown: VueCountdown
    },
    data() {
      var now = new Date();
      var endDate = new Date(2019, 2,29, 2, 0, 0);
      console.log("la fecha", endDate);
      return {
        counting: false,
        time: endDate - now
      };
    }
  };
</script>

<style lang="scss" >
  @import "./../../../assets/styles/1.settings/_colors.scss";
  @import "./../../../assets/styles/1.settings/_breakpoints.scss";
  .cont-countdown {
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .cmp-countdown {
    display: inline-flex;
    justify-content: space-between;
    .cmp-countdown__time {
      border-radius: 50%;
      background-color: 1px solid rgba(black, 0.1);
      border: 1px solid rgba(#b8a06d, 0.5);
      margin: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 4rem;
      height: 4rem;
      .time__description {
        font-size: 1.8rem;
        font-weight: 600;
        padding-top: 0.5rem;
        line-height: .8rem;
        span {
          font-size: 0.5rem;
        }
      }
    }
  }
  
  .cont-countdown__description {
    .description__address {}
  }
  
  @media (min-width: $xs) {
    .cmp-countdown .cmp-countdown__time {
      width: 6.4rem;
      height: 6.4rem;
      .time__description {
        font-size: 2.6rem;
        span {
          font-size: 0.7rem;
        }
      }
    }
  }
</style>
