<template>
    <section class="about ">
        <div class="back2">
            <div class="shadow pad-ver-7">
                <div class="wrapper flex">
                    <article>
                        <div class="line ">
                            <div class="mar-1"></div>
                            <font-awesome-icon class="icon " :icon="['fas', 'microphone']" />
                            <div class="mar-1"></div>
                        </div>
                        <h2 class="mar-top-1">Acerca del Evento</h2>
                        <p class="about__description mar-top-3" style="text-align:justify;">La Revista G de Gestión y El Dorado Investments se unen para organizar un evento exclusivo; PERÚ GOLDEN AWARDS
2019.<br>
El evento tiene como objetivo reconocer y premiar a los mejores gestores de Inversión Financiera (Fondos de Pensiones y
Fondos Mutuos) y a los mejores Bancos de Inversión, para reconocer el éxito en la creación de valor superior para sus
clientes. Asimismo, presentar las Perspectivas de la Gestión de Portafolios y la Banca de Inversión en el Perú

                        </p>
                    </article>
                </div>
            </div>
        </div>
    
    </section>
</template>

<script>
    export default {
    
    }
</script>

<style lang="scss">
    @import "./../../assets/styles/1.settings/_colors";
    @import "./../../assets/styles/1.settings/_breakpoints.scss";
    @import "./../../assets/styles/2.tools/_main";
    .about {
        color: $black;
        background-image: url('./../../assets/images/diagonal2.png');
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: 100% 100%;
        .back2 {
            background-image: url('./../../assets/images/diagonal1.png');
            background-size: auto 100%;
            background-repeat: no-repeat;
            background-position: 0% 100%;
        }
        article {
            line-height: 1.5rem;
            p {
                color: $grey-1 !important;
            }
            span {
                font-weight: 600;
            }
            div {
                text-align: center;
            }
            img {
                max-width: 4rem;
            }
        }
        .shadow {
            height: 100%;
            background-color: rgba($white, .8);
        }
    }
    
    @media screen and (min-width: $sm) {
        .about {
            article {
                width: 80%;
            }
        }
    }
    
    @media screen and (min-width: $md) {
        .about {
            article {
                width: 70%;
            }
        }
    }
    
    @media screen and (min-width: $lg) {
        .about {
            article {
                width: 60%;
            }
        }
    }
</style>
