<template>
    <section class="directed" id="directed">
        <div class="shadow shadow--directed">
            <div class="wrapper pad-ver-7">
                <article>
                    <div class="line ">
                        <div class="mar-1"></div>
                        <font-awesome-icon class="icon " :icon="['fas', 'thumbtack']" />
                        <div class="mar-1"></div>
                    </div>
                    <h2 class="mar-top-1">Dirigido a:</h2>
                    <!-- <p class="mar-top-3">Brindar herramientas prácticas para poder enfrentar la coyuntura económica, política y financiera que se presenta actualmente en los mercados nacionales e internacionales.</p>
                    <p class="mar-top-0-5"><span>EXPOSITORES:</span> Economistas, analistas políticos, empresarios, gerentes de finanzas, gerentes de inversiones y gestores de portafolios locales e internacionales de reconocida trayectoria así como a funcionarios públicos.</p>
                    <p class="mar-top-0-5"> <span>ASISTENTES:</span> Entre 100 y 150 personas.</p>
                    <p class="mar-top-0-5"><span>DURACIÓN:</span> Medio día.</p>
                    <p class="mar-top-0-5"><span>FRECUENCIA:</span> Bimestral (Abril – Julio – Septiembre - Noviembre)</p>
                    <p class="mar-top-0-5"><span>LUGAR:</span> JW Marriott
Hotel Lima
</p> -->
<div class="movil">


                    <p class="mar-top-3"><i class="fas fa-angle-right"></i> Gerentes Generales, Gerentes de Inversiones, Gerentes de Finanzas, Gestores de los fondos de pensiones, Gestores de los
recursos de las <span>compañías de seguros, Gestores de Fondos Mutuos y Fondos de Inversión.</span><br><br></p>
 <p class="mar-top-3">
<i class="fas fa-angle-right"></i> Reguladores y miembros de Asociaciones Profesionales de mercados de Capitales y Financieros.<br><br></p>
 <p class="mar-top-3">
<i class="fas fa-angle-right"></i> Altos ejecutivos de Bancos Corporativos, Bancos de Inversión, Bancos Multilaterales, Microfinancieras y profesionales de las áreas
de créditos, <span>riesgos, negocios, entre otros del Sector Financiero.</span><br><br></p>
 <p class="mar-top-3">
<i class="fas fa-angle-right"></i> Tesoreros y profesionales de Áreas Financieras y otras afines.<br><br></p>
 <p class="mar-top-3">
<i class="fas fa-angle-right"></i> Inversionistas Institucionales: Fondos Privados de Pensiones, Compañías de seguros, Fondos Mutuos, Fondos de Inversión, Family
Office, y otras <span>compañías.</span><br><br></p>
 <p class="mar-top-3">
<i class="fas fa-angle-right"></i> Asesores de Inversión, Boutiques Financieras, emprendedores y empresas en Servicios Financieros no bancarizados y profesionales
en general <span> cuyas actividades están relacionadas con el Sistema Financiero y/o el mercado de Capitales.</span><br><br></p>
 <p class="mar-top-3">
<i class="fas fa-angle-right"></i> Directivos y analistas de clasificadoras de riesgos, consultoras empresas y valorizadoras.<br><br></p>
 <p class="mar-top-3">
<i class="fas fa-angle-right"></i> Corredores de valores, asesores de inversiones, profesionales vinculados a las Bolsas de Valores y a los mercados internacionales.</p>

</div>


<ul class="desktop">
    <li><span><i class="fas fa-angle-right"></i></span>
         <p class="mar-top-3"> Gerentes Generales, Gerentes de Inversiones, Gerentes de Finanzas, Gestores de los fondos de pensiones, Gestores de los
recursos de las <span>compañías de seguros, Gestores de Fondos Mutuos y Fondos de Inversión.</span><br><br></p>
    </li>
 <li>
    <i class="fas fa-angle-right"></i>
 <p class="mar-top-3">
 Reguladores y miembros de Asociaciones Profesionales de mercados de Capitales y Financieros.<br><br></p> </li>
<i class="fas fa-angle-right"></i>
 <li>
     <p class="mar-top-3">
 Altos ejecutivos de Bancos Corporativos, Bancos de Inversión, Bancos Multilaterales, Microfinancieras y profesionales de las áreas
de créditos, <span>riesgos, negocios, entre otros del Sector Financiero.</span><br><br></p>

 </li>
 <i class="fas fa-angle-right"></i>
<li>
    <p class="mar-top-3">
 Tesoreros y profesionales de Áreas Financieras y otras afines.<br><br></p></li>
 <i class="fas fa-angle-right"></i>
 <li>
 <p class="mar-top-3">
 Inversionistas Institucionales: Fondos Privados de Pensiones, Compañías de seguros, Fondos Mutuos, Fondos de Inversión, Family
Office, y otras <span>compañías.</span><br><br></p>
</li>
<i class="fas fa-angle-right"></i>
<li>
     <p class="mar-top-3">
 Asesores de Inversión, Boutiques Financieras, emprendedores y empresas en Servicios Financieros no bancarizados y profesionales
en general <span> cuyas actividades están relacionadas con el Sistema Financiero y/o el mercado de Capitales.</span><br><br></p>
</li>
<i class="fas fa-angle-right"></i>
<li>
    <p class="mar-top-3">
 Directivos y analistas de clasificadoras de riesgos, consultoras empresas y valorizadoras.<br><br></p>
</li>
<li>
    <i class="fas fa-angle-right"></i>
 <p class="mar-top-3">
 Corredores de valores, asesores de inversiones, profesionales vinculados a las Bolsas de Valores y a los mercados internacionales.</p>
</li>
</ul>
                </article>
            </div>
        </div>
    </section>
</template>

<script>
    export default {}
</script>
<style type="text/css">



</style>
<style lang="scss">

  @media (min-width: 769px){
      i{
         position: absolute;
      margin: 2px 0px 0px 0px;
     }
       .movil{
          display: none;
      }
      .desktop{
          display: block
      }
   p span{
          font-weight: 100!important;
      }
      .mar-top-3 {
      margin-left: 10px!important;
  }

  }
  @media  (max-width: 768px){
      .movil{
          display: block;
      }
      .desktop{
          display: none
      }
  p span{
          font-weight: 100!important;
              margin: 0 0 0 0px;
      }
  }
    @import "./../../assets/styles/1.settings/_colors";
    @import "./../../assets/styles/1.settings/_breakpoints.scss";
    @import "./../../assets/styles/2.tools/_main";
    .directed {
        background-image: url('./../../assets/images/foto2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        article {
            line-height: 1.5rem;
            p span {
                font-weight: 600;
            }
            .line div {
                background-color: $white;
            }
        }
    }

    .shadow--directed {
        background: linear-gradient(to right, rgba(#070104, 1), rgba(black, .6));
    }
</style>
