<template>
    <section class="gallery pad-ver-7" id="gallery">
         <div class="">
            <div class="line ">
                <div class="mar-1"></div>
                <font-awesome-icon class="icon " :icon="['fas', 'image']" />
                <div class="mar-1"></div>
            </div>
            <h2 class="mar-top-1">Galería</h2>
            <gallery :images="images" :index="index" @close="index = null"></gallery>
            <div class="articles mar-top-3">
                <article class="article--1 tall-span" @click="index = 0">
                    <img style="width: 100%;" src="http://peruconferences.com/peru-golden-awards2/pga1x.jpg">
                </article>
                <article class="article--2 tall-span" @click="index = 0">
                     <img style="width: 100%;" src="http://peruconferences.com/peru-golden-awards2/pga2x.jpg">
                </article>
                <article class="article--3 tall-span" @click="index = 0">
                     <img style="width: 100%;" src="http://peruconferences.com/peru-golden-awards2/pga3x.jpg">
                </article>
                <article class="article--4 tall-span" @click="index = 0">
                     <img style="width: 100%;" src="http://peruconferences.com/peru-golden-awards2/pga4x.jpg">
                </article>
                <article class="article--5 tall-span" @click="index = 0">
                     <img style="width: 100%;" src="http://peruconferences.com/peru-golden-awards2/pga5x.jpg">
                </article>
                <article class="article--6 tall-span" @click="index = 0">
                     <img style="width: 100%;" src="http://peruconferences.com/peru-golden-awards2/pga6x.jpg">
                </article>
                <article class="article--7 tall-span" @click="index = 0">
                     <img style="width: 100%;" src="http://peruconferences.com/peru-golden-awards2/pga10x.jpg">
                </article>
                <article class="article--8 tall-span" @click="index = 0">
                     <img style="width: 100%;" src="http://peruconferences.com/peru-golden-awards2/pga8x.jpg">
                </article>
            </div>
        </div>
        <a target="_blank" class="link" href="http://peruconferences.com/peru-golden-awards.html#galeria" style="color:#000;"><div class="flex flex-xs wrap responsive1  " style="text-align: center;"><div class="flex"></div> <div class="igv_precio flex" style="
    width: 20%;
"> Perú Golden Awards 2019 </div> <div class=" flex"></div></div></a>

    </section>
</template>

<script>
    // import Vue from 'vue'
    import VueGallery from 'vue-gallery';
    export default {
        data() {
            return {
                images: [
                     'http://peruconferences.com/peru-golden-awards2/pga1x.jpg',
                     'http://peruconferences.com/peru-golden-awards2/pga2x.jpg',
                     'http://peruconferences.com/peru-golden-awards2/pga3x.jpg',
                     'http://peruconferences.com/peru-golden-awards2/pga4x.jpg',
                     'http://peruconferences.com/peru-golden-awards2/pga5x.jpg',
                     'http://peruconferences.com/peru-golden-awards2/pga6x.jpg',
                     'http://peruconferences.com/peru-golden-awards2/pga10x.jpg',
                     'http://peruconferences.com/peru-golden-awards2/pga8x.jpg',



                ],
                index: null
            }
        },
        components: {
            'gallery': VueGallery,
        },

    }
</script>
<style>
  .link .igv_precio {

  margin: 0px 0 0 0px!important;
}
  .link .igv_precio:hover{
    margin: 50px 0 0 0px;
   background:#c0aa7a;
   color:#fff;
   a{
       color:#fff;
   }
 }
    @media (max-width: 425px) {
      .gallery .articles {

    grid-auto-rows: 10rem!important;
}
.speakers .back .gradiant {


    min-height: 440px;}
    .responsive1 .igv_precio{width: 85%!important;}
}
</style>
<style lang="scss">
    @import "./../../assets/styles/1.settings/_colors";
    @import "./../../assets/styles/1.settings/_breakpoints.scss";
    @import "./../../assets/styles/2.tools/_main";
    .gallery {
        color: $black-1;
        background-color: $white;
        .articles {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: 15rem;
        }
        article {
            margin:0px 2px;
            background-position: center;
            background-size: cover;
            cursor: pointer;
            transform: scale(1);
            transition: .5s;
            position: relative;
            z-index: 500;
            iframe {
                width: 100%;
            }
            &:hover {
                z-index: 800;
                overflow: hidden;
                transform: scale(1.1);
                box-shadow: 0px 0px 15px rgba( #000000, .8);
            }
        }
         .article--1 {

         }
         .article--2 {

         }
          .article--3 {

         }
          .article--4 {

         }
          .article--5{
             }
          .article--6 {

         }
          .article--7 {

         }
          .article--8 {

         }



        .tall-span {
            grid-row: span 0;
        }
        .wide-span {
            grid-column: span 0;
        }
    }

    @media screen and (min-width:$xs) {
        .gallery {
            .articles {
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }

    @media screen and (min-width:$sm) {
        .gallery {
            .articles {
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }

    @media screen and (min-width:$md) {
        .gallery {
            .articles {
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }

    @media screen and (min-width:$lg) {
        .gallery {
            .articles {
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }

    @media screen and (min-width:$xl) {
        .gallery {
            .articles {
                grid-template-columns: repeat(6, 1fr);
            }
        }
    }
</style>
