<template>
    <div class="cont-home ">
        <Welcome/>
        <About/>
        <Objetive/>
                <Directed/>

        <Speakers/>
                <Price/>
        <Pay/>

        <Organizers/>
                <Media/>

        <!-- <Sponsor/> -->
        <Gallery/> 
        <Map/>
        <Footer/>
    </div>
</template>

<script>
    import LightBox from 'vue-image-lightbox'
    import Welcome from "./Welcome";
    import About from "./About";
    import Objetive from "./Objetive";
    import Directed from "./Directed";
    import Organizers from "./Organizers";
    import Sponsor from "./Sponsor";
    import Media from "./Media";
    import Gallery from "./Gallery";
    import Speakers from "./Speakers";
    import Footer from "./../shared/Footer";
    import Map from "./Map";
    import Price from "./Price";
    import Pay from "./Pay";
    
    export default {
        data() {
            return {};
        },
        
        components: {
            Welcome,
            About,
            Objetive,
            Directed,
            Organizers,
            Sponsor,
            Media,
            Gallery,
            Speakers,
            Footer,
            Map,
            Price,
            Pay
        },
    
        created() {
            window.scrollTo(0, 0);
        }
    };
    
</script>

<style lang="scss">
    .page-container {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
</style>
