<template>
    <section class="map ">
        <!-- <div class="line">
            <div class="mar-1"></div>
            <font-awesome-icon class="icon " :icon="['fas', 'map-signs']" />
            <div class="mar-1"></div>
        </div>
        <h2 class="mar-top-1">Ubicanos</h2> -->
        <GmapMap :center="center" :zoom="17" style="width: 100%; height: 400px" class="">
            <GmapMarker :key="index" v-for="(m, index) in markers" :position="m.position" :clickable="true" :draggable="false" @click="center=m.position" />
        </GmapMap>
    </section>
</template>

<script>
    export default {
        data() {
            return {
                center: {
                    lat: -12.131263,
                    lng: -77.029352
                }, 
                markers: [{
                    position: {
                       lat: -12.131263,
                    lng: -77.029352
                    }
                }],
            }
        },
    }
</script>

<style lang="scss">
    @import "./../../assets/styles/1.settings/_colors";
    @import "./../../assets/styles/1.settings/_breakpoints.scss";
    @import "./../../assets/styles/2.tools/_main";
    .map {
        background-color: #FFFFFF;
        color: $black;
    }
</style>
