<template>
    <section class="media" id="media">
        <div class="wrapper pad-ver-7">
            <div class="line ">
                <div class="mar-1"></div>
                <font-awesome-icon class="icon " :icon="['fas', 'bullhorn']" />
                <div class="mar-1"></div>
            </div>
            <h2 class="mar-top-1">Difusión en Medios</h2>
            <div class="articles flex flex-xs wrap mar-top-2 pad-ver-1">
                <article class="pad-0-5">
                    <img src="./../../assets/images/logos/elcomercios.jpg" alt="">
                </article>
                <a  class="link" target="_blank" href="http://peruconferences.com/peru-golden-awards.html#galeria" style="color:#000;"><div class="flex flex-xs wrap responsive1  " style="text-align: center;"><div class="flex"></div> <div class="igv_precio flex" style="
            width: 100%;
        ">Articulo del evento golden 2019 </div> <div class=" flex"></div></div></a>
            </div>
        </div>
    </section>
</template>

<script>
    export default {

    }
</script>

<style lang="scss">
  .link .igv_precio {

    margin: 0px 0 0 0px!important;
}
.link{
  -webkit-transition: width 2s; /* Safari */
  transition: width 2s;
}
   .link:hover{
     margin: 0px 0 0 0px;
    background:#c0aa7a;
    color:#fff;
    a{
        color:#fff;
    }
  }
    @import "./../../assets/styles/1.settings/_colors";
    @import "./../../assets/styles/1.settings/_breakpoints.scss";
    @import "./../../assets/styles/2.tools/_main";
    .media {
        color: $black-1;
        background-color: $white;
        article {
            width: 100%;
            text-align: center;
            img {
                width: 88%;
            }
        }
    }

    @media screen and (min-width:$xs) {
        .media {
            .articles {
                justify-content: center;
            }
            article {
                width: 88%;
                img {}
            }
        }
    }

    @media screen and (min-width:$sm) {
        .media {
            article {
                width: 88%;
            }
        }
    }

    @media screen and (min-width:$md) {
        .media {
            article {
                width: 100%;
            }
        }
    }

    @media screen and (min-width:$lg) {
        .media {
            article {
                width: 88%;
            }
        }
    }

    @media screen and (min-width:$xl) {
        .media {
            article {
                width: 88%;
            }
        }
    }
</style>
