<template>
    <section class="objetive" id="objetive">
        <div class="shadow shadow--objetive">
            <div class="wrapper pad-ver-7">
                <article>
                    <div class="line ">
                        <div class="mar-1"></div>
                        <font-awesome-icon class="icon " :icon="['fas', 'thumbtack']" />
                        <div class="mar-1"></div>
                    </div>
                    <h2 class="mar-top-1">Objetivo del evento</h2><br>
Revisar las perspectivas de la gestión de portafolios y la Banca de Inversión del Perú en el 2019. Asimismo,
premiar a los mejores gestores de Inversión Financiera y a los mejores Bancos de Inversión del Perú.<br>
</p>
                    <p class="mar-top-0-5"><span>Expositores:</span> Se Se contará con la
participación especial de
Reguladores y de destacados
representantes de los mercados
locales e internacionales.
</p>
                    <p class="mar-top-0-5"> <span>Duración:</span> 3 horas y media.</p>
                    <p class="mar-top-0-5"><span>Asistentes:</span> 100 asistentes</p>
                    <p class="mar-top-0-5"><span>Fecha:</span>  29 de marzo</p>
                    <p class="mar-top-0-5"><span>Lugar:</span> JW Marriott
Hotel Lima
</p>
<div class="igv_precio flex responsive" style="color: #000;width: 20%;     float: left;background: #fff;padding: 5px;margin: 25px 15px 15px 0px;"><span><a  class="responsive" target="_blank" href="http://peruconferences.com/peru-golden-awards2/rentabilidad2019.pdf" style="color: #000;">Artículo de Melvin Escudero</a></span></div>
<div class="igv_precio flex responsive" style="color: #000;width: 20%;  float: left; background: #fff;padding: 5px;margin: 25px 15px 15px 0px;"><span><a  class="responsive" target="_blank" href="http://peruconferences.com/peru-golden-awards2/articulo-meir.pdf" style="color: #000;">Artículo Meir Statman</a></span></div>
<div class="igv_precio flex responsive" style="color: #000;width: 20%;  float: left; background: #fff;padding: 5px;margin: 25px 15px 15px 0px;"><span><a  class="responsive" target="_blank" href="http://peruconferences.com/peru-golden-awards2/articulo-noe-mayer.pdf" style="color: #000;">Artículo Noel Maye</a></span></div>
<div class="igv_precio flex responsive" style="color: #000;width: 20%;background: #fff;padding: 5px;margin: 25px 0px 0px;"><span><a  class="responsive" target="_blank" href="http://peruconferences.com/peru-golden-awards2/articulo-rafael.pdf" style="color: #000;">Artículo Rafael Rojas</a></span></div>
                </article>
            </div>
        </div>
    </section>
</template>

<script>
    export default {}
</script>
<style>
    @media (max-width: 425px) {

    .responsive{width: 75%!important;}
}
</style>

<style lang="scss">

    @import "./../../assets/styles/1.settings/_colors";
    @import "./../../assets/styles/1.settings/_breakpoints.scss";
    @import "./../../assets/styles/2.tools/_main";
    .objetive {
        background-image: url('./../../assets/images/foto1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        article {
            line-height: 1.5rem;
            p span {
                font-weight: 600;
                margin: 0 0 0 0px;
            }
            .line div {
                background-color: $white;
            }
        }
    }

    .shadow--objetive {
        background: linear-gradient(to right, rgba(#070104, 1), rgba(black, .6));
    }
</style>
