<template>
    <section class="organizers" id="organizers">
        <div class=" shadow--organizers">
            <div class="wrapper pad-ver-7">
                <div class="line ">
                    <div class="mar-1"></div>
                    <font-awesome-icon class="icon " :icon="['fas', 'users']" />
                    <div class="mar-1"></div>
                </div>
                <h2 class="mar-top-1"> Organizadores y Auspiciadores
</h2>
                <div class="articles flex flex-xs mar-top-3">

                    <article class="mar-0-5 pad-1">
                          <a href="https://archivo.gestion.pe/gdegestion" target="_blank">
                        <img src="./../../assets/images/logos/gestion.jpg" alt=""></a>
                        <p class="pad-0-5">  <b>Organizador</b><br>Revista mensual
especializada en economía,
finanzas y negocios.
Incluye artículos y
entrevistas a empresarios y
especialistas reconocidos
del sector, tanto del ámbito
local como internacional.
Información de interés para
los directivos y ejecutivos
del país.
                        </p>
                    </article>


                    <article class="mar-0-5 pad-1">
                      <a href="http://www.eldorado-investments.com/" target="_blank"><img src="./../../assets/images/logos/eldorado.jpg" alt=""></a>

                        <p class="pad-0-5"><b>Organizador</b><br>Empresa de asesoría y consultoría especializada en el diseño, estructuración, colocación y gestión de activos para inversionistas institucionales en el mercado latinoamericano. Es organizador de los seminarios internacionales “Capital
                            Markets Day” y “Banking and Finance Day” y del FT Pacific Alliance Conference junto a Financial Times.
                        </p>
                    </article>
                    <article class="mar-0-5 pad-1">
                       <a href="http://cfasociety.org.pe/" target="_blank"> <img src="./../../assets/images/logos/eldorado1.jpg" alt=""></a>
                        <p class="pad-0-5"> <b>Partner Institucional</b><br>
                            CFA Society Perú es la más grande asociación de
profesionales en inversiones del Perú. Cuenta con el
respaldo del CFA Institute, organización global de
profesionales en inversiones. Reúne a profesionales de
las empresas del sector financiero más importantes del
país, quienes comparten la visión de crecimiento y
principios éticos para la industria. Asimismo, cuenta con
el apoyo de organizaciones gubernamentales, sistema
financiero y de otras sociedades CFA a nivel global.
                        </p>
                    </article>

                </div>
                <div class="articles flex flex-xs mar-top-3">
                  <article class="mar-0-5 pad-1">
                    <a href="https://www.mercer.com/" target="_blank"><img src="./../../assets/images/logos/merced.png" alt=""></a>

                      <p class="pad-0-5"> <b>Auspiciador</b><br>
                        Es una empresa subsidiaria de Marsh &
McLennan (NYSE: MMC), la empresa de servicios profesionales líder en el mundo en las áreas de riesgo, estrategia y personas, con clientes en más de 130 países. Ofrece asesoramiento y soluciones basadas en la tecnología que ayudan a las organizaciones a satisfacer las necesidades de salud, patrimonio y carrera de una fuerza laboral en constante cambio.

                      </p>
                  </article>
                  <article class="mar-0-5 pad-1">
                    <a href="https://www.prima.com.pe/wcm/portal/PrimaAFP/inicio?gclid=EAIaIQobChMIz8WD372e4QIVQwOGCh3TKQEKEAAYASAAEgITnvD_BwE" target="_blank">
                     <img src="./../../assets/images/logos/afp.jpg" alt=""></a>
                      <p class="pad-0-5"> <b>Auspiciador</b><br>
                        Administradora de Fondos de
                  Pensiones con 14 años de
                  experiencia. Cuentan con el
                  sólido respaldo del Grupo
                  Crédito, el grupo financiero líder
                  del país con más de 125 años
                  de experiencia. Además,
                  forman parte de una familia de
                  empresas sólidas y
                  comprometidas del país.

                      </p>
                  </article>
                  <article class="mar-0-5 pad-1">
                    <a href="https://www.profuturo.com.pe/" target="_blank">
                     <img src="./../../assets/images/logos/profuturo.jpg" alt=""></a>
                      <p class="pad-0-5"> <b>Auspiciador</b><br>
                        Administradora de Fondos de
Pensiones con +20 años de
experiencia, +1.8 millones de afiliados y
+400 colaboradores a nivel nacional.
Tienen el compromiso de trabajar con
eficiencia y responsabilidad para
garantizar que sus afiliados cuenten
con las inversiones de máxima
rentabilidad del mercado.

                      </p>
                  </article>


                    </div>
                    <div class="articles flex flex-xs mar-top-3">
                    <article class="mar-0-5 pad-1">
                        <a href="https://www.gestion.pe/" target="_blank">
                       <img src="./../../assets/images/logos/eldorado11.jpg" alt=""></a>
                        <p class="pad-0-5"> <b>Media Partner</b><br>
                            Diario de Economía, Finanzas y Negocios más importante del país y medio
                    referente para el sector empresarial. La marca cuenta con sus ediciones
                    impresas como el Diario, la Revista G y los suplementos especializados.
                    Además, va al ritmo de los ejecutivos y ofrece en sus contenidos digitales,
                    información actualizada y especializada en tiempo real.
                        </p>
                    </article>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {}
</script>

<style lang="scss">
    @import "./../../assets/styles/1.settings/_colors";
    @import "./../../assets/styles/1.settings/_breakpoints.scss";
    @import "./../../assets/styles/2.tools/_main";
    .organizers {
        background-color: $white-1;
        .line div {
            // background-color: $white;
        }
        color:$black;
        article {
            width: 100%;
            background-color: white;
            color: $black;
            text-align: center;
            img {
                padding: 2rem;
                width: 80%;
            }
            p {
                text-align: justify;
            }
        }
    }

    .shadow--organizers {
        // background: linear-gradient(to bottom, rgba(black, .5), rgba(black, .9));
    }

    @media screen and (min-width:$xs) {
        .organizers {
            .articles {
                justify-content: space-around;
                align-items: stretch;
            }
            article {
                width: 50%;
            }
        }
    }

    @media screen and (min-width:$sm) {
        .organizers article {
            width: 40%;
        }
    }

    @media screen and (min-width:$md) {
        .organizers article {
            width: 30%;
        }
    }
</style>
