<template>
    <section class="pay pad-ver-7">
        <div class="wrapper">
            <div class="line">
                <div class="mar-1"></div>
                <font-awesome-icon class="icon " :icon="['fas', 'credit-card']" />
                <div class="mar-1"></div>
            </div>
            <h2>Medios de pago</h2>
            <div class="items flex flex-xs wrap mar-top-2">
               
                <article class=" flex  mar-0-3">
                    <h3 class="pad-2">BANCO DE CRÉDITO DEL PERÚ (BCP)</h3>
                    <div class="pad-1">
                        <p class="num mar-top-2"><span>​Dólares N°:</span> 193-2370409-1-33​</p>
                        <p class="num "><span>CCI:</span> 00219300237040913311​</p>
                        <p class="num mar-top-1"><span>​Soles N°:</span> 193-2360684-0-91</p>
                        <p class="num "><span>CCI:</span> 00219300236068409118 </p>
                    </div>
                   <!--  <button class="btn mar-top-2">Ver Pago</button> -->
                </article>
              <article class=" flex  mar-0-3">
                    <h3 class="pad-2">SCOTIABANK PERÚ S.A.A.</h3>
                    <div class="pad-1">
                        <p class="num mar-top-2 "><span>Dólares N°:</span> 000-4603941</p>
                        <p class="num "><span>CCI:</span> 009-025-000004603941-88</p>
                        <p class="num mar-top-1"><span>Soles N°:</span> 000-8030006</p>
                        <p class="num "><span>CCI:</span> 009-040-000008030006-74 </p>
                    </div>
                   <!--  <button class="btn mar-top-2">Ver Pago</button> -->
                </article>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
    
    }
</script>

<style lang="scss">
.pad-1{
    padding:1rem;
  
}
    @import "./../../assets/styles/1.settings/_colors";
    @import "./../../assets/styles/1.settings/_breakpoints.scss";
    @import "./../../assets/styles/2.tools/_main";
    .pay {
        background-color: $white-1;
        color: $black;
        article {
            // border:1px solid $gold-primary;
            background-color: white;
            justify-content: space-between;
            padding-bottom: 2rem;
            width: 100%;
            span {
                font-weight: 600;
            }
            h3 {
                min-height: 7rem;
                width: 100%;
                text-align: center;
                background-color: $gold-primary;
                color: white;
            }
        }
    }
    
    @media screen and (min-width:$xs) {
        .pay .items {
            justify-content: center;
            align-items: stretch;
            article {
                width: 48%;
            }
            
        }
    }
    
    // @media screen and (min-width:$sm) {
    //     .pay .items article {
    //         width: 48%;
    //     }
    // }
    
    @media screen and (min-width:$md) {
        .pay .items article {
            width: 31%;
        }
    }
    
    @media screen and (min-width:$lg) {
        .pay .items article {
            width: 30%;
        }
    }
    
    @media screen and (min-width:$xl) {
        .pay .items article {
            width: 20%;
        }
    }
</style>
