<template>
    <section class="price pad-ver-7" id="precio">
        <div class="wrapper">
            <div class="line">
                <div class="mar-1"></div>
                <font-awesome-icon class="icon " :icon="['fas', 'dollar-sign']" />
                <div class="mar-1"></div>
            </div>
            <h2>Precios*</h2>
            <div class="items flex flex-xs wrap mar-top-2">
                <article class="last flex pad-2" style="margin:40px 0px 0px 0px; cursor: inherit;    margin: 40px 0px 0px;
    color: #ccc;
    border-color: #cccc;">
                    <div>
                        <h3 style="color:#ccc;">EARLY BIRD
 </h3>
                        <p>Hasta el 28 de febrero
</p>
                    </div>

                    <p class="btn mar-top-2" style="color:#ccc; cursor: inherit;  color: rgb(204, 204, 204);
    border: 1px solid #ccc;" >GENERAL S/. 400</p>

                </article>
                 <article class="last flex pad-2" style="margin:40px 0px 0px 0px; cursor: inherit;    margin: 40px 0px 0px;
     color: #ccc;
     border-color: #cccc;">
                    <div>
                        <h3 style="color:#ccc;">PRESALE</h3>
                        <p>Hasta el 15 de marzo
</p>
                    </div>
                      <p class="btn mar-top-2" style="color:#ccc; cursor: inherit;  color: rgb(204, 204, 204);
      border: 1px solid #ccc;">GENERAL S/. 450</p>

                </article>
                <article class="last flex pad-2" style="margin:40px 0px 0px 0px; ">
                    <div>
                        <h3>PRECIO REGULAR</h3>
                        <p></p>
                    </div>
                      <button style=" cursor: inherit;  " class="btn mar-top-2" onclick="location.href='https://www.visanetlink.pe/pagoseguro/ELDORADO/70595'">VIP S/. 600</button>
                     <button style=" cursor: inherit;  " class="btn mar-top-2" onclick="location.href='https://www.visanetlink.pe/pagoseguro/ELDORADO/70597'">GENERAL S/. 500</button>

                </article>
                <br>
                 <article class="last flex pad-2" style="margin:40px 0px 0px 0px; ">
                    <div>
                        <h3>DESCUENTO
SUSCRIPTORES DIARIO EL
COMERCIO O MUNDO G
 </h3>
                        <p></p>
                    </div>

                    <button class="btn mar-top-2" onclick="location.href='https://www.visanetlink.pe/pagoseguro/ELDORADO/70604'">VIP S/. 450</button>
                    <button class="btn mar-top-2" onclick="location.href='https://www.visanetlink.pe/pagoseguro/ELDORADO/70607'">GENERAL S/. 375</button>
                </article>
                 <article class="last flex pad-2" style="margin:40px 0px 0px 0px; ">
                    <div>
                        <h3>CORPORATIVOS</h3>
                        <p></p>
                    </div>
                      <button class="btn mar-top-2" onclick="location.href='https://www.visanetlink.pe/pagoseguro/ELDORADO/70612'">DE 3 A 9 ENTRADAS
S/. 400</button>
                     <button class="btn mar-top-2" onclick="location.href='https://www.visanetlink.pe/pagoseguro/ELDORADO/70615'">DE 10 A MÁS ENTRADAS
S/. 350</button>
                     <button class="btn mar-top-2" onclick="location.href='https://www.visanetlink.pe/pagoseguro/ELDORADO/70620'">UNIVERSITARIOS Y PYMES
S/. 250
</button>
                </article>
            </div>
            <div class="flex flex-xs wrap " style="text-align: center;">
                 <div class="flex"></div>
                 <div class="igv_precio flex">* Precios incluyen IGV</div>
                 <div class=" flex"></div>
            </div>


        </div>

    </section>
</template>

<script>
    export default {

    }
</script>

<style lang="scss">
.igv_precio{
     text-align: center;
    margin: 50px 0 0 0px;
    border: 2px solid #c0aa7a;
    padding: 20px;
}
    @import "./../../assets/styles/1.settings/_colors";
    @import "./../../assets/styles/1.settings/_breakpoints.scss";
    @import "./../../assets/styles/2.tools/_main";
    .price {
        background-color: $white;
        color: $black;
        article {
            justify-content: space-between;
            text-align: center;
            transition: .5s;
            border: 1px solid $gold-primary;
            // border-right: 0px;
            width: 100%;
            h3 {
                font-size: 18px;
                font-weight: 600;
                color: $gold-primary;
            }
            .num {
                font-size: .9rem;
            }
            span {
                font-size: 3.5rem;
                font-weight: 500;
            }
            &:hover {
                transform: scale(1.1);
                background-color: $white;
                box-shadow: 0 5px 10px rgba( #000000, 0.1);
                border: 1px solid $gold-primary;
            }
        }
        .last {
            // border-right: 1px solid $gold-primary;
        }
    }

    @media screen and (min-width:$xs) {
        .price .items {
            justify-content: center;
            align-items: stretch;
            article {
                width: 50%;
            }
        }
    }

    @media screen and (min-width:$sm) {
        .price .items article {
            width: 33%;
        }
    }

    @media screen and (min-width:$lg) {
        .price .items article {
            width: 30%;
        }
    }

    @media screen and (min-width:$xl) {
        .price .items article {
            width: 25%;
        }
    }
</style>
