<template>
  <section class="speakers" id="speakers">
    <div class="wrapper  pad-ver-7">
      <div>
  <br><br><br><br>
   <div class="line ">
        <div class="mar-1"></div>

        <font-awesome-icon class="icon " :icon="['fab', 'telegram-plane']" />
        <div class="mar-1"></div>
      </div>
      <h2 class="mar-top-1">Presentadores Especiales </h2>
</div>
<div class="articles flex flex-xs wrap mar-top-3" >
<article class="back back--3  mar-0-3 " v-on:click="abrirModal2()">
          <div class="gradiant flex">
            <div class="box">
              <h3>José Manuel
Peschiera</h3>
              <p class="pad-1">Superintendente del Mercado de
Valores<br> <b>SMV</b>

              </p>
            </div>
          </div>
</article>

    <article class="back back--2  mar-0-3 " v-on:click="abrirModal3()">
          <div class="gradiant flex">
            <div class="box">
              <h3>Jorge
Mogrovejo  </h3>
              <p class="pad-1">Superintendente Adjunto de AFP<br> <b>SBS</b>

              </p>
            </div>
          </div>
</article>

    <article class="back back--14  mar-0-3 " v-on:click="abrirModal1()">
          <div class="gradiant flex">
            <div class="box">
              <h3> Meir Statman  </h3>
              <p>Agradecimiento Especial: CFA Society Perú</p>
              <p class="pad-1">Santa Clara University<br> <b>Profesor de Finanzas
</b>

              </p>
            </div>
          </div>
</article>

    <article class="back back--15  mar-0-3 " v-on:click="abrirModal12()">
          <div class="gradiant flex">
            <div class="box">
              <h3>Noel Maye  </h3>
              <p class="pad-1"> Financial Planning Standards Board
<br> <b>CEO Global</b>

              </p>
            </div>
          </div>
</article>

</div>
<div>

</div>
 <br><br>
  <br><br>
      <div class="line ">

        <div class="mar-1"></div>
        <font-awesome-icon class="icon " :icon="['fab', 'telegram-plane']" />
        <div class="mar-1"></div>
      </div>
      <h2 class="mar-top-1">Expositores </h2>
      <div class="articles flex flex-xs wrap mar-top-3" >
<!-- <article class="back back--1  mar-0-3 ">
          <div class="gradiant flex">
            <div class="box">
              <h3>Meir Statman  </h3>
              <p class="pad-1">Profesor de Finanzas de
la Universidad de Santa
Clara

              </p>
            </div>
          </div>
</article> -->
    </div>

<div class="articles flex flex-xs wrap mar-top-3" >
  <article class="back back--9  mar-0-3 "  v-on:click="abrirModal4()">
          <div class="gradiant flex">
            <div class="box">
              <h3>María Eugenia
González
  </h3>
              <p class="pad-1">Gerente General <br> <b>Citibank</b>


              </p>
            </div>
          </div>
</article>
<article class="back back--10  mar-0-3 " v-on:click="abrirModal5()">
          <div class="gradiant flex">
            <div class="box">
              <h3>José Martinez  </h3>
              <p class="pad-1">Vicepresidente Ejecutivo de
Inversiones y Pensiones  <br> <b>Rimac Seguros</b>


              </p>
            </div>
          </div>
</article>

<article class="back back--5  mar-0-3 " v-on:click="abrirModal6()">
          <div class="gradiant flex">
            <div class="box">
              <h3>Patricia Dibós  </h3>
              <p class="pad-1">Managing Director de Banca Privada<br> <b>BCP</b>
              </p>
            </div>
          </div>
</article>
 <article class="back back--8  mar-0-3 " v-on:click="abrirModal7()">
          <div class="gradiant flex">
            <div class="box">
              <h3>Roberto Melzi  </h3>
              <p class="pad-1">Gerente de Inversiones <br> <b>AFP Integra</b>

              </p>
            </div>
          </div>
</article>


    </div>
  <div class="articles flex flex-xs wrap mar-top-3" >
      <article class="back back--13  mar-0-3 "  v-on:click="abrirModal8()">
          <div class="gradiant flex">
            <div class="box">
              <h3>José Larrabure  </h3>
              <p class="pad-1">Gerente de Inversiones<br> <b>Prima AFP</b>
              </p>
            </div>
          </div>
</article>
<article class="back back--7  mar-0-3 " v-on:click="abrirModal9()">
          <div class="gradiant flex">
            <div class="box">
              <h3>Diego Marrero  </h3>
              <p class="pad-1">Gerente de Inversiones <br> <b>AFP Habitat Perú
</b>


              </p>
            </div>
          </div>
</article>

<article class="back back--11  mar-0-3 " v-on:click="abrirModal10()">
          <div class="gradiant flex">
            <div class="box">
              <h3>Fernando
Romero  </h3>
              <p class="pad-1">Director Gerente General  <br> <b>Diviso Grupo Financiero

</b>


              </p>
            </div>
          </div>
</article>
<article class="back back--4  mar-0-3 " v-on:click="abrirModal11()">
          <div class="gradiant flex">
            <div class="box">
              <h3>Miguel Ángel
Zapatero  </h3>
              <p class="pad-1">Gerente General Adjunto de Negocios <br> <b>BVL

</b>

              </p>
            </div>
          </div>
</article>
</div>




<!-- Modals -->
 <modal name="modal_1">
      <h1>Meir Statman</h1>
      <br>
      <p>Profesor de Finanzas Glenn Klimek en la Universidad de Santa Clara. Su investigación se centra en el comportamiento de las
finanzas, analizando la toma de decisiones financieras y cómo estas se reflejan en los mercados financieros. El galardonado libro
de Meir, "What Investors Really Want", ha sido publicado por McGraw-Hill. Fue nombrado como una de las 25 personas más
influyentes por Investment Advisor. Recibió su Ph.D. de la Universidad de Columbia y su B.A. y M.B.A de la Universidad Hebrea
de Jerusalén.
</p>
</modal>
 <modal name="modal_2">
      <h1>José Manuel Peschiera</h1>
      <br>
      <p>
Abogado de la Pontificia Universidad Católica del Perú. Se desempeñó como Managing Director de Credicorp Capital, Presidente
del Comité Lationamericano de Fideicomiso, Director y Gerente General de Credicorp Capital Sociedad Titulizadora, Presidente
del Directorio de la Fiduciaria y Presidente de la Comisión de Fideicomisos de ASBANC
</p>
</modal>
 <modal name="modal_3">
      <h1>Jorge Mogrovejo</h1>
      <br>
      <p>
Master en Gestión de Políticas Económicas de la Universidad de Columbia, New York. Funcionario de la Superintendencia de
Banca, Seguros y AFP (SBS) desde hace más de 20 años. Trabajó por dos años en el Bank for International Settlements (BIS)
en Basilea, Suiza.
</p>
</modal>
 <modal name="modal_4">
      <h1>María Eugenia González</h1>
      <br>
      <p>
Lidera la Banca Corporativa y de Inversión en Perú. Comenzó su carrera en 1996 con Citi Ecuador. Es miembro del Citi's
Women Global Leadership Program y tiene una licenciatura en Finanzas y Psicología, así como una especialización en
Contabilidad en la Universidad de Notre Dame.
</p>
</modal>
 <modal name="modal_5">
      <h1>José Martínez</h1>
      <br>
      <p>
Encargado de administrar una cartera de inversiones que se distribuye entre bonos, acciones instrumentos del mercado de
dinero, bienes raíces e inversiones alternativas en doce países.
</p>
</modal>
 <modal name="modal_6">
      <h1>Patricia Dibós</h1>
      <br>
      <p>
Cuenta con más de 25 años de experiencia en los mercados de capitales, se ha desempeñado por aproximadamente 20 años
como Gerente de la Unidad de Asesoría de Inversiones y del Servicio de Family Office de Banca Privada. Directora del CFA
Institute.
</p>
</modal>
 <modal name="modal_7">
      <h1>Roberto Melzi
</h1>
      <br>
      <p>
Ingresó a AFP Integra luego de 12 años de trabajo como estratega de inversiones de mercados emergentes en Deutsche Bank
de Londres y NY y en las oficinas de México y NY de Barclays. Cuenta con un MBA especializado en Finanzas del London
Business School.

</p>
</modal>
 <modal name="modal_8">
      <h1>José Larrabure
</h1>
      <br>
      <p>
Cuenta con más de 15 años de experiencia en gestión de activos y banca corporativa. Se desempeñó como gerente del área de
gestión de inversiones del BCP y anteriormente como gerente del área de negocios y tesorería de la agencia del BCP en Miami.
</p>
</modal>
 <modal name="modal_9">
      <h1>Diego Marrero
</h1>
      <br>
      <p>
Director del CFA Society Perú. Cuenta con un MBA en University of Oxford, y es CFA Charterholder y CIA Charterholder.
Además, es columnista del diario El Comercio, y ejerce la docencia en diversos tópicos financieros, a nivel de pregrado y
maestría.
</p>
</modal>
 <modal name="modal_10">
      <h1>José Fernando Romero
Tapia
</h1>
      <br>
      <p>
Es Director de la Bolsa de Valores de Lima, de CAVALI ICLV, Director Alterno de CONFIEP, de la Bolsa de Productos de Chile,
de la Entidad de Depósito de Valores de Bolivia, miembro del Consejo Directivo de inPERÚ y Presidente del Directorio de
Financiera Credinka
</p>
</modal>
 <modal name="modal_11">
      <h1>Miguel Angel Zapatero
</h1>
      <br>
      <p>
Dirige las funciones de relación con los clientes, desarrollo de productos, operaciones y planificación estratégica. Cuenta con un
MBA de la Universidad de California de Berkeley.
</p>
</modal>
 <modal name="modal_12">
      <h1>Noel Maye
</h1>
      <br>
      <p>
Fue Vicepresidente Senior del CFP Board of
Standards en Estados Unidos. Anteriormente, se
desempeñó como socio de Ogilvy, Adams &
Rinehart; una firma de relaciones públicas de
Nueva York.
</p>
</modal>
<modal name="modal_13">
     <h1>Rocio Infantas
</h1>
     <br>
    <ul>
      <li type="disc">Es Fundadora y CFO del Grupo El Dorado.</li>
      <li>Economista por la Universidad Andina del Cusco, con estudios de postgrado en Contabilidad, Teoría y Política económica por la PUCP.
</li><br>
<li type="disc">Tiene más de 20 años de experiencia en áreas de inversiones, investigación y negocios bursátiles, asesoría de portafolios de clientes, seguros de vida, negocios inmobiliarios y comerciales. Además, posee amplia experiencia en relaciones y negociaciones con clientes.
</li><br>
<li type="disc">Se ha desempeñado como Jefe de Estudios Económicos en Coril Sociedad Agente de la Bolsa (entre 1995 y 1998)
</li><br>
<li type="disc">Se ha desempeñado como Gerente de Comercial y de Relaciones en Home Building SAC (entre 2007 y 2010)</li>
    </ul>
</modal>







  </div>
  </section>
</template>

<script>


  export default {
  methods: {
    abrirModal1 () {
      this.$modal.show('modal_1')
    },
    abrirModal2 () {
      this.$modal.show('modal_2')
    },
    abrirModal3 () {
      this.$modal.show('modal_3')
    },
    abrirModal4 () {
      this.$modal.show('modal_4')
    },

abrirModal5 () {
      this.$modal.show('modal_5')
    },

abrirModal6 () {
      this.$modal.show('modal_6')
    },

abrirModal7 () {
      this.$modal.show('modal_7')
    },

abrirModal8 () {
      this.$modal.show('modal_8')
    },

abrirModal9 () {
      this.$modal.show('modal_9')
    },

abrirModal10 () {
      this.$modal.show('modal_10')
    },
    abrirModal11 () {
      this.$modal.show('modal_11')
    },
    abrirModal12() {
      this.$modal.show('modal_12')
    },
    abrirModal13() {
      this.$modal.show('modal_13')
    },




  }
}


</script>

<style lang="scss">
article {cursor: pointer;}

@media (min-width: 345px){

.speakers .back {
  width: 100%;
}
}
@import "./../../assets/styles/1.settings/_colors";
@import "./../../assets/styles/1.settings/_breakpoints.scss";
@import "./../../assets/styles/2.tools/_main";
.speakers {
  color: $black-1;
  .back {
    margin: 3px;
    color: $white;
    animation: 3s;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    .gradiant {
      height: 100px;
      justify-content: flex-end;
      background: linear-gradient(rgba($black, 0), rgba($black, 0.8));
      transition: 0.5s;
      overflow: hidden;
      min-height: 350px;
      .box {
        position: relative;
        bottom: -50%;
        transition: 0.5s;
        p {
          font-size: 0.9rem;
          line-height: 1.5;
        }
        h3 {
          transition: 0.5s;
          opacity: 1;
        }
        span {
          font-weight: 300;
        }
      }
      &:hover {
        background: linear-gradient(rgba($black, 0.8), rgba($black, 0.8));
        .box {
          bottom: 0;
          h3 {
            opacity: 1;
          }
        }
      }
    }
    img {
      width: 100%;
    }
    &--1 {
      background-image: url("./../../assets/images/1.jpg");
    }
    &--2 {
      background-image: url("./../../assets/images/2.jpg");
    }
    &--3 {
      background-image: url("./../../assets/images/3.jpg");
    }
    &--4 {
      background-image: url("./../../assets/images/4.jpg");
    }
    &--5 {
      background-image: url("./../../assets/images/5.jpg");
    }
    &--6 {
      background-image: url("./../../assets/images/6.jpg");
    }
    &--7 {
      background-image: url("./../../assets/images/7.jpg");
    }
    &--8 {
      background-image: url("./../../assets/images/8.jpg");
    }
     &--9 {
      background-image: url("./../../assets/images/9.jpg");
    }
    &--10 {
      background-image: url("./../../assets/images/10.jpg");
    }
    &--11 {
      background-image: url("./../../assets/images/11.jpg");
    }
     &--12 {
      background-image: url("./../../assets/images/12.jpg");
    }
    &--13 {
      background-image: url("./../../assets/images/13.jpg");
    }
    &--14 {
      background-image: url("./../../assets/images/14.png");
    }
    &--15 {
      background-image: url("./../../assets/images/15.png");
    }
    &--16 {
      background-image: url("./../../assets/images/16.jpg");
    }
  }
}

@media screen and(min-width:$xs) {
  .mar-top-3 {
    margin-top: 0rem;
}
  .speakers {
    .articles {
      justify-content: center;
      align-items: stretch;
      flex-wrap: wrap-reverse;
      .back {
        width: 100%;
        .gradiant {
          height: 100%;
          .box {
            bottom: -60%;
          }
        }
        &:hover {
          .gradiant {
            .box {
              bottom: 0;
            }
          }
        }
      }
    }
  }
}

@media screen and(min-width:$sm) {
  .speakers {
    .articles {
      .back {
        width: 30%;
        .gradiant {
          .box {
            bottom: -50%;
          }
        }
      }
    }
  }
}

@media screen and(min-width:$md) {
  .speakers {
    .articles {
      .back {
        width: 20%; margin-top: 30px;
        .gradiant {
          .box {
            bottom: 0%;
          }
        }
      }
    }
  }
}

@media screen and(min-width:$xl) {
  .speakers {
    .articles {
      .back {
        width: 19%;
        height: 500px;
        .gradiant {
          .box {
            bottom: -30%;
          }
        }
      }
    }
  }
}
</style>
