<template>
    <section class="sponsor" id="sponsor">
        <div class="shadow pad-ver-7">
            <div class="wrapper  ">
                <div class="line ">
                    <div class="mar-1"></div>
                    <font-awesome-icon class="icon " :icon="['fab', 'telegram-plane']" />
                    <div class="mar-1"></div>
                </div>
                <h2 class="mar-top-1">Sponsors</h2>
                <div class="articles flex flex-xs wrap mar-top-3 ">
                    <article class=" flex flex-sm mar-top-2 pad-0-5">
                        <img src="./../../assets/images/logos/elcomercioyellow.jpg" alt="">
                    </article>
                    <article class=" flex flex-sm mar-top-2 pad-0-5">
                        <img src="./../../assets/images/logos/eldorado.jpg" alt="">
                    </article>
                    <article class=" flex flex-sm mar-top-2 pad-0-5">
                        <img src="./../../assets/images/logos/elcomercioyellow.jpg" alt="">
                    </article>
                    <article class=" flex flex-sm mar-top-2 pad-0-5">
                        <img src="./../../assets/images/logos/eldorado.jpg" alt="">
                    </article>
                    <article class=" flex flex-sm mar-top-2 pad-0-5">
                        <img src="./../../assets/images/logos/elcomercioyellow.jpg" alt="">
                    </article>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {}
</script>

<style lang="scss">

    @import "./../../assets/styles/1.settings/_colors";
    @import "./../../assets/styles/1.settings/_breakpoints.scss";
    @import "./../../assets/styles/2.tools/_main";
    .sponsor {
        background-image: url('./../../assets/images/city-black.jpg');
        .line {
            div {
                background-color: $white;
            }
        }
        article {
            width: 100%;
            text-align: center;
            img {
                width: 100%;
            }
        }
    }
    
    @media screen and (min-width:$xs) {
      
        .sponsor {
            .articles {
                justify-content: center;
            }
            article {
                width: 50%;
            }
        }
    }
    
    @media screen and(min-width:$sm) {

        .sponsor {
            article {
                width: 33%;
            }
            
        }
    }
    
    @media screen and (min-width:$md) {
        .sponsor {
            article {
                width: 30%;
            }
        }
    }
    
    @media screen and (min-width:$lg) {
        .sponsor {
            article {
                width: 25%;
            }
        }
    }
    
    @media screen and (min-width:$xl) {
        .sponsor {
            article {
                width: 20%;
            }
        }
    }
</style>
