<template>
    <section class=" main" id="main">
        <div class="shadow  ">
            <div class="wrapper flex flex-sm justify-center-sm">
                <div class="main__box align-self pad-top-2">
                    <img src="./../../assets/images/logos/economy-clear1.png" alt="">
                  
                    <p class="mar-top-1"><br><br> <span class="intro_texto">PERSPECTIVAS DE LA GESTIÓN DE
PORTAFOLIOS Y DE LA BANCA DE
INVERSIÓN 2019</span> <br> <br>29 de marzo | JW MARRIOTT HOTEL lIMA</p>
                    <h1 class="main__title mar-top-1"> </h1>
                    <countdown></countdown>

                <div class="logos_intro"><img src="../../assets/images/logosintro.png"></div>

                </div>
                <font-awesome-icon class="icon icon--down " :icon="['fas', 'chevron-down']" />

            </div>

        </div>
        <video autoplay muted loop id="myVideo"><source src="./../../assets/videos/stadistics2.mp4" type="video/mp4"></video>
    </section>
</template>

<script>
    import Countdown from "./components/Countdown";
    export default {
        components: {
            Countdown
        }
    };
</script>

<style lang="scss">
@media (min-width: 1200px){
    .intro_texto{
        font-weight: bold;color: rgb(188, 138, 62);font-size: 23px;line-height: 1.5;
    }
    .logos_intro img{
      width: 80%!important;
    margin-top: 15px;
}

}
@media (min-width: 320px)and(max-width: 450px)  {
    .intro_texto{
        font-weight: bold;color: rgb(188, 138, 62);font-size: 22px;line-height: 1.5;
    }
    .logos_intro img{
        width: 90%!important;
    margin-top: 18px;

}

}

    @import "./../../assets/styles/1.settings/_colors";
    @import "./../../assets/styles/1.settings/_breakpoints.scss";
    @import "./../../assets/styles/2.tools/_main";
    .main {       

        overflow: hidden;
        height: 600px;
// /root/repos/miproyecto.git

        // @include background("./../../assets/images/city1.jpg");
        position: relative;
        video {
            position: absolute;
            top: 0;
            z-index: -1;
            min-height: 100%;
            min-width: 100%;
        }
        &__box {
            box-shadow: 0px 0px 30px rgba( #000000, .1);
            background-color: rgba( #000000, .06);
        }
        .main__title {
            font-size: 2.9rem;
            text-transform: uppercase;
            font-weight: 800;
        }
        .main__title--light {
            font-size: 0.9rem;
            font-weight: 100;
            
        }
        p {
            font-weight: 500;
            text-transform: uppercase;
            font-size: 1.3rem;
        }
        img {
            width: 11rem;
                margin: 0px 0 -25px 0;

        }
        .icon--down {
            position: absolute;
            font-size: 3rem;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0);
            animation: arrow-slice 2.5s ease-in-out infinite;
        }
    }
    
    .shadow {
        background-color: rgba( $black, .6);
    }
    
    @media screen and (min-width:$xs) {
        .main {
            height: 600px;
        }
    }
    
    @media screen and (min-width:$sm) {
        .main {
            height: 700px;
            img {
                   width: 37rem;
    margin: 0px 4px -25px 0px;
            }
        }
    }
    
    @media screen and (min-width:$md) {
        .main {
            height: 800px;
        }
    }
    
    @media screen and (min-width:$lg) {
        .main {
            height: 900px;
        }
    }
    
    @media screen and (min-width:$xl) {
        .main {
            height: 1000px;
        }
    }
</style>


