.flex {
    @include flex();
    @include direction();
    @include justify();
    @include align-items();
}

.wrap {
    @include wrap();
}

.align-self {
    @include align-self();
    text-align: center;
}

.flex-xs {
    @media all and (min-width: $xs) {
        @include direction(row);
        @include justify(space-between);
    }
}

.flex-sm {
    @media all and (min-width: $sm) {
        @include direction(row);
        @include justify(space-between);
    }
}

.flex-md {
    @media all and (min-width: $md) {
        @include direction(row);
        @include justify(space-between);
    }
}

.flex-lg {
    @media all and (min-width: $lg) {
        @include direction(row);
        @include justify(space-between);
    }
}

.flex-xl {
    @media all and (min-width: $xl) {
        @include direction(row);
        @include justify(space-between);
    }
}

//justify-center
.justify-center-xs {
    @media all and (min-width: $xs) {
        @include justify(center);
    }
}

.justify-center-sm {
    @media all and (min-width: $sm) {
        @include justify(center);
    }
}

.justify-center-md {
    @media all and (min-width: $md) {
        @include justify(center);
    }
}

.justify-center-lg {
    @media all and (min-width: $lg) {
        @include justify(center);
    }
}

.justify-center-xl {
    @media all and (min-width: $xl) {
        @include justify(center);
    }
}
//justify-around
.justify-around-xs {
    @media all and (min-width: $xs) {
        @include justify(space-around);
    }
}

.justify-around-sm {
    @media all and (min-width: $sm) {
        @include justify(space-around);
    }
}

.justify-around-md {
    @media all and (min-width: $md) {
        @include justify(space-around);
    }
}

.justify-around-lg {
    @media all and (min-width: $lg) {
        @include justify(space-around);
    }
}

.justify-around-xl {
    @media all and (min-width: $xl) {
        @include justify(space-around);
    }
}