.wrapper {
    width: 90%;
    margin: auto;
    height: 100%;
}

@media all and (min-width: $xs) {
    .wrapper {
        width: 90% !important;
    }
}

@media all and (min-width: $sm) {
    .wrapper {
        width: 90% !important;
    }
}

@media all and (min-width: $md) {
    .wrapper {
        width: 90% !important;
    }
}

@media all and (min-width: $lg) {
    .wrapper {
        width: 85% !important;
    }
}

@media all and (min-width: $xl) {
    .wrapper {
        width: 80% !important;
    }
}