h1 {
    font-size: 2rem;
    // line-height: 1.5rem;
}

h2 {
    font-size: 1.5rem;
    // line-height: 1.5rem;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
}

h3 {
    font-size: 1.17rem;
    // line-height: 1.5rem;
}

h4 {
    font-size: 1.12rem; 
    // line-height: 1.5rem;// font-size: 1rem;   
}

h5 {
    font-size: .83rem;
    // line-height: 1.5rem;
}

h6 {
    font-size: .67rem;
    // line-height: 1.5rem;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
    
}