html {
    font-size: 14px;
}

@media (min-width: $xs) {
    html {
        font-size: 14px;
    }
}

@media (max-width: $sm) {
    html {
        font-size: 15px;
    }
}

@media (max-width:$md) {
    html {
        font-size: 15px;
    }
}

@media (min-width: $lg) {
    html {
        font-size: 15px;
    }
}

@media (min-width: $xl) {
    html {
        font-size: 16px;
        line-height: 1.5;
    }
}