.btn {
    border: 1px solid $gold-1;
    color: $gold-1;
    padding: 15px 25px; 
    background-color: white; 
    font-weight: 200;
    transition: .5s; 
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
    font-size: 13px;
    border-radius: 2px; 
    line-height: 1;
    display: inline-flex;
    align-items: center;
    transition: .5s;
    text-align: center;
    // span {
    //     padding-bottom: 2px;
    // }
    // .icon {
    //     margin-left: 5px;
    //     transition: .5s;
    // }
    &:hover {
        // border: 1px solid $white; 
        color: $white;
        background-color: $gold-1;
        
        // .icon {
        //     margin-left: 10px;
        // }
    }
}




.btn--menu {
    text-align: center;
    border-bottom: 2px solid transparent;
    &:hover {
        color: $white;
        border-bottom: 2px solid white;
    }
}

.btn--menu-link {
    text-align: center;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    &:hover {
    background-color: white;
    color: $gold-1;
    }
    a{
        color: inherit;
        text-align: center;
    }
}

.btn--red {
    background-color: $red-1;
    color: $white;
    &:hover {
        background-color: $red-2;
        border: 3px solid $red-2;
    }
}





