.line {
    display: flex;
    justify-content: center;
    align-items: center;
    .icon{
        font-size: 1.8rem;
    }
    div {
        height: 2px;
        border-radius: 5px;
        width: 5%;
        background-color: black;
    }
}