.input {
    border-radius: 5px;
    width: 100%;
    padding: 10px 15px;
    border: 2px solid $white;
    background-color: $white;
    font-size: 1rem;
    text-decoration: none;
    outline: none;
    transition: .5s;
    font-family: 'Gotham';
    &:focus {
        border: 2px solid $violet-4;
    }
}