html {
    overflow-y: auto;
}

html::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
    // border-radius: 5px;
    
}

html::-webkit-scrollbar-track {
    width: 10px;
    background-color: $black-1;
    // border-radius: 5px;
    
}

html::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: $grey-3;
    border-radius: 5px;
}