@keyframes heart {
    0% {
        color: transparent;
        transform: scale(1);
    }
    50% {
        color: #F7D631;
        transform: scale(1.1);
    }
    100% {
        color: transparent;
        transform: scale(1);
    }
}